*{
    margin: 0;
    padding: 0;
}

body{
  background-color: lightgray;
}

/* COMIENZO DE LA CARD */

.card{
    height: 300px !important;
    width: 280px;
    background-color: rgb(39, 39, 39) !important;
    display: flex;
    padding: .2rem;
    border-radius: .2rem !important;
}
.card img-1 {
    width: 240px;
    margin: 20px auto auto auto ;
    height: 150px;
    border-radius: .2rem !important; 
}

.card p , h3 , span{
    color: white !important;
}

.card .textos{
    display: flex;
    flex-direction: column;
    margin: auto auto auto 24px;
}

.like , .dislike{
    color: white;
}

.like:hover , .dislike:hover{
    color: rgb(204, 204, 204);
}

.loke{
    color: green;
}

.disloke{
    color: red;
}


.button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: absolute;
  display: inline-block;
}

.button::before {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .8rem;
    content: "X";
    position: absolute;
    top: -4px; /* Ajusta la posición vertical del círculo según necesites */
    right: -204px; /* Ajusta la posición horizontal del círculo según necesites */
    width: 78px; /* Ajusta el tamaño del círculo según necesites */
    height: 10px; /* Ajusta el tamaño del círculo según necesites */
    background-color: rgb(63, 63, 63); /* Ajusta el color del círculo según necesites */
    border-radius: 20px;        
}

.button:hover {
    color: white;
    background-color: red;
}

.editar{
    text-decoration: none;
    cursor: pointer;
}
/* FIN DE LA CARD */